
@{

    ViewBag.Title = "Shose_Trending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/Styles/StyleSheet2.css" rel="stylesheet" />
 
<link href="~/Styles/StyleSheet7.css" rel="stylesheet" />
<div class="container">


    <div class="row">


        <div class="col-lg-5">


            <h4 style="margin-top:15px">Show Result (9)</h4>


        </div>


        <div class="col-lg-5" style="padding-top:14px ; padding-left:25%">





            <div class="dropdown">
                <button type="button" style="   background-color:#2a6afe" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    View as
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/SHOES/Page1#">Default</a>
                    <a class="dropdown-item" href="/SHOES/Shoes_Trending">Trending</a>

                </div>
            </div>



        </div>



    </div>


</div>







<div class="container" style="margin-top:40px">


    <div class="row">



        <div class="col-lg-10">

            <table class="table table-bordered">
                <tr>


                    <td>


                        <div class="r1">
                            <a href="/Products/Details/29" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/ssh2.jpg" .jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style=" font-style:normal ; font-size:20px ; text-align:center ; margin-top:25px">

                                Nike Air Yellow
                                <br />

                                100$

                            </p>

                        </div>

                    </td>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/48" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/sh21.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style=" font-style: normal; font-size: 20px; text-align: center;margin-top: 25px">

                                Nike Red and White
                                <br />

                                100$

                            </p>

                        </div>

                    </td>
                    <td>


                        <div class="r1">
                            <a href="/Products/Details/49" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/sh22.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style=" font-style: normal; font-size: 20px; text-align: center; margin-top: 25px">

                                Nike Blue and White
                                <br />

                                300$

                            </p>

                        </div>

                    </td>

                </tr>

                <tr>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/50" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/sssh1.jpg" .jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style=" margin-top: 25px ;font-style:normal; font-size: 20px; text-align: center">

                                Nike Black and Green
                                <br />

                                300$

                            </p>

                        </div>

                    </td>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/51" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/sssh2.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style=" margin-top: 25px; font-style:normal; font-size: 20px; text-align: center">
                                Nike Green and Brwon
                                <br />

                                200$

                            </p>

                        </div>

                    </td>
                    <td>


                        <div class="r1">
                            <a href="/Products/Details/52" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/sh25.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style="margin-top: 25px ; font-style: normal; font-size: 20px; text-align: center">

                                Nike Blance 2
                                <br />

                                300$

                            </p>

                        </div>

                    </td>

                </tr>



                <tr>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/41" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/sh13.jpg" .jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style=" font-style:normal ; font-size:20px ; text-align:center ; margin-top:25px">

                                Nike Air Jorden Blue
                                <br />

                                400$

                            </p>

                        </div>

                    </td>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/54" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/sh27.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style=" margin-top: 25px; font-style: normal; font-size: 20px; text-align: center">

                                Nike Air White and Black
                                <br />

                                100$

                            </p>

                        </div>

                    </td>
                    <td>


                        <div class="r1">
                            <a href="/Products/Details/42" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/Shoes/sh28.jpg" .jpg" class="card-img" style="background-color: black; border-color: black; height: 70%" />

                            </a>

                            <p class="card-body" style=" margin-top: 25px; font-style: normal; font-size: 20px; text-align: center">

                                Nike Air Jorden Colorway
                                <br />

                                200$

                            </p>

                        </div>

                    </td>

                </tr>



            </table>


        </div>


        <div class="col-md-2">


            <table class="table table-bordered" style=" font-size:16px ; text-align:center ; width:100% ; margin-top:10px ">

                <tr>

                    <td style="  background-color: #2a6afe; color: white ">

                        Products Catagories
                    </td>
                </tr>

                <tr>

                    <td>
                        <a href="/NBA_Jersys/Page1#" style="text-decoration:none">Nba Jersy</a>

                    </td>
                </tr>


                <tr>

                    <td>
                        <a href="/SHIRTS/Page1" style="text-decoration:none">T Shirts</a>

                    </td>
                </tr>

                <tr>

                    <td>

                        <a href="/SHOES/Page1#" style="text-decoration:none">Shoes</a>


                    </td>
                </tr>






            </table>




            <table class="table table-bordered" style="font-size: 16px; text-align: center; width: 100%;   ">

                <tr>

                    <td style="background-color: #2a6afe; color: white">

                        Shoes Catagorie View By Price
                    </td>
                </tr>

                <tr>

                    <td>

                        <a href="/SHOES/Shoes100" style="text-decoration:none">100$</a>
                    </td>
                </tr>


                <tr>

                    <td>

                        <a href="/SHOES/Shoes200" style="text-decoration:none">200$</a>
                    </td>
                </tr>

                <tr>

                    <td>

                        <a href="/SHOES/Shoes300" style="text-decoration:none">300$</a>
                    </td>
                </tr>



                <tr>

                    <td>

                        <a href="/SHOES/Shoes400" style="text-decoration:none">400$</a>
                    </td>
                </tr>





            </table>






            <table class="table table-bordered" style="font-size: 16px; text-align: center; width: 100%;   ">

                <tr>

                    <td style="background-color: #2a6afe; color: white">

                        Check Out Also
                    </td>
                </tr>

                <tr>

                    <td>
                        <div class="card-group" style="font-family:'Times New Roman'">

                            <img id="myimage" src="~/Images/NBAJersys/js11.jpg" class="card-img-top" style=" border:solid; align-items:center; margin-left:25px;  height: 150px ; width:120px" alt="Avatar" />

                            <p class="card-header" style="width: 90%; border: solid; margin-top: 10px; font-weight: bolder; margin-left: 10px ; font-size:15px">Atlanta Hawks</p>



                            <a class="btn btn-secondary" href="/Products/Details/11" style="width: 90%; margin-top: 5px; margin-left: 10px; background-color: #2a6afe">View</a>


                        </div>
                    </td>
                </tr>


                <tr>

                    <td>

                        <div class="card-group" style="font-family:'Times New Roman'">

                            <img id="myimage1" src="~/Images/NBAJersys/js9.jpg" class="card-img-top" style=" border:solid; align-items:center; margin-left:25px;  height: 150px ; width:120px" alt="Avatar" />

                            <p class="card-header" style="width: 90%; border: solid; margin-top: 10px; font-weight: bolder; margin-left: 10px ; font-size:15px">Indiana Pacers</p>



                            <a class="btn btn-secondary" href="/Products/Details/9" style="width: 90%; margin-top: 5px; margin-left: 10px; background-color: #2a6afe">View</a>


                        </div>
                    </td>
                </tr>

                <tr>

                    <td>

                        <div class="card-group" style="font-family:'Times New Roman'">

                            <img id="myimage2" src="~/Images/NBAJersys/js15.jpg" class="card-img-top" style=" border:solid; align-items:center; margin-left:25px;  height: 150px ; width:120px" alt="Avatar" />

                            <p class="card-header" style="width: 90%; border: solid; margin-top: 10px; font-weight: bolder; margin-left: 10px ; font-size:15px">Washington Wizards</p>



                            <a class="btn btn-secondary" href="/Products/Details/15" style="width: 90%; margin-top: 5px; margin-left: 10px; background-color: #2a6afe">View</a>


                        </div>
                    </td>
                </tr>





            </table>











        </div>



    </div>


</div>