<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Front_STore</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Styles/StyleSheet6.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Front_STore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link href="~/Styles/StyleSheet6.css" rel="stylesheet" />

    <link href="~/Styles/StyleSheet8.css" rel="stylesheet" />

    <script>





        function Search() {



            var Pro = document.getElementById("txtProduct").value;





            switch (Pro) {


                case "Boston Celtics":

                    window.location.href = "/Products/Details/1"

                    break;



                case "Brooklyn Nets":

                    window.location.href = "/Products/Details/2"

                    break;



                case "New York Knicks":

                    window.location.href = "/Products/Details/3"

                    break;



                case "Philadelphia 76ers":

                    window.location.href = "/Products/Details/4"

                    break;



                case "Toronto Raptors":

                    window.location.href = "/Products/Details/5"

                    break;



                case "Chicago Bulls":

                    window.location.href = "/Products/Details/6"

                    break;



                case "Cleveland Cavaliers":

                    window.location.href = "/Products/Details/7"

                    break;



                case "Detroit Pistons":

                    window.location.href = "/Products/Details/8"

                    break;



                case "Indiana Pacers":

                    window.location.href = "/Products/Details/9"

                    break;



                case "Milwaukee Bucks":

                    window.location.href = "/Products/Details/10"

                    break;



                case "Atlanta Hawks":

                    window.location.href = "/Products/Details/11"

                    break;



                case "Charlotte Hornets":

                    window.location.href = "/Products/Details/12"

                    break;


                case "Miami Heat":

                    window.location.href = "/Products/Details/13"

                    break;


                case "Orlando Magic":

                    window.location.href = "/Products/Details/14"

                    break;


                case "Washington Wizards":

                    window.location.href = "/Products/Details/15"

                    break;


                case "Dallas Mavericks":

                    window.location.href = "/Products/Details/16"

                    break;


                case "Houston Rockets":

                    window.location.href = "/Products/Details/17"

                    break;


                case "Memphis Grizzlies":

                    window.location.href = "/Products/Details/18"

                    break;

                case "New Orleans Pelicans":

                    window.location.href = "/Products/Details/19"

                    break;

                case "San Antonio Spurs":

                    window.location.href = "/Products/Details/20"

                    break;

                case "Golden State Warriors":

                    window.location.href = "/Products/Details/21"

                    break;

                case "Los Angeles Lakers":

                    window.location.href = "/Products/Details/22"

                    break;



                case "Los Angeles Clippers":

                    window.location.href = "/Products/Details/23"

                    break;


                case "Sacramento Kings":

                    window.location.href = "/Products/Details/24"

                    break;


                case "Denver Nuggets":

                    window.location.href = "/Products/Details/25"

                    break;


                case "Oklahoma City Thunder":

                    window.location.href = "/Products/Details/26"

                    break;


                case "Minnesota Timberwolves":

                    window.location.href = "/Products/Details/27"

                    break;


                case "portland trail blazers":

                    window.location.href = "/Products/Details/28"

                    break;


                case "Nike Air Yellow":

                    window.location.href = "/Products/Details/29"

                    break;


                case "Nike Air Jorden":

                    window.location.href = "/Products/Details/30"

                    break;


                case "Nike Kobe 8":

                    window.location.href = "/Products/Details/31"

                    break;


                case "Convers Brown":

                    window.location.href = "/Products/Details/32"

                    break;


                case "Nike Colorway":

                    window.location.href = "/Products/Details/33"

                    break;

                case "Nike Kobe 9 Green Force":

                    window.location.href = "/Products/Details/34"

                    break;


                case "Puma Colorway":

                    window.location.href = "/Products/Details/35"

                    break;


                case "Nike Colorway Brown":

                    window.location.href = "/Products/Details/36"

                    break;


                case "Nike White Force":

                    window.location.href = "/Products/Details/37"

                    break;


                case "Nike White":

                    window.location.href = "/Products/Details/38"

                    break;


                case "Nike Air Max 2":

                    window.location.href = "/Products/Details/39"

                    break;


                case "Nike Air Jorden White":

                    window.location.href = "/Products/Details/40"

                    break;

                case "Nike Air Jorden Blue":

                    window.location.href = "/Products/Details/41"

                    break;


                case "Nike Air Jorden Colorway":

                    window.location.href = "/Products/Details/42"

                    break;


                case "Nike White 2":

                    window.location.href = "/Products/Details/43"

                    break;


                case "Nike White Blue":

                    window.location.href = "/Products/Details/44"

                    break;


                case "Nike Air Max 2":

                    window.location.href = "/Products/Details/45"

                    break;

                case "Nike White and Black 2":

                    window.location.href = "/Products/Details/46"

                    break;


                case "Nike Black and Yellow":

                    window.location.href = "/Products/Details/47"

                    break;


                case "Nike Red and White":

                    window.location.href = "/Products/Details/48"

                    break;


                case "Nike Blue and White":

                    window.location.href = "/Products/Details/49"

                    break;


                case "Nike Black and Green ":

                    window.location.href = "/Products/Details/50"

                    break;


                case "Nike Green and Brwon":

                    window.location.href = "/Products/Details/51"

                    break;


                case "Nike Blance 2":

                    window.location.href = "/Products/Details/52"

                    break;


                case "Nike Orange Colorway":

                    window.location.href = "/Products/Details/53"

                    break;


                case "Nike Air White and Black":

                    window.location.href = "/Products/Details/54"

                    break;


                case "Black TShirt Female":

                    window.location.href = "/Products/Details/55"

                    break;


                case "Black Mar TShirt":

                    window.location.href = "/Products/Details/56"

                    break;


                case "Frgvn TShirt":

                    window.location.href = "/Products/Details/57"

                    break;


                case "Black Dragon Ball Z TShirt":

                    window.location.href = "/Products/Details/58"

                    break;


                case "Animal Lover  White TShirt Female":

                    window.location.href = "/Products/Details/59"

                    break;


                case "Black TShirt":

                    window.location.href = "/Products/Details/60"

                    break;

                case "Black Pittsburgh TShirt":

                    window.location.href = "/Products/Details/61"

                    break;


                case "Red Strips TShirt":

                    window.location.href = "/Products/Details/62"

                    break;


                case "Black Stay Rich TShirt Female":

                    window.location.href = "/Products/Details/63"

                    break;


                case "Adidas White TShirt":

                    window.location.href = "/Products/Details/64"

                    break;


                case "Rose TShirt":

                    window.location.href = "/Products/Details/65"

                    break;


                case "Fucking Awesome White TShirt":

                    window.location.href = "/Products/Details/66"

                    break;


                case "Vougue White TShirt":

                    window.location.href = "/Products/Details/67"

                    break;


                case "Orange TShirt":

                    window.location.href = "/Products/Details/68"

                    break;


                case "OutCast White TShirt":

                    window.location.href = "/Products/Details/69"

                    break;


                case "Guns and Roses TShirt":

                    window.location.href = "/Products/Details/70"

                    break;


                case "Broken Hope TShirt":

                    window.location.href = "/Products/Details/71"

                    break;


                case "THRASHER White TShirt":

                    window.location.href = "/Products/Details/72"

                    break;


                case "Levis White TShirt":

                    window.location.href = "/Products/Details/73"

                    break;


                case "Black TShirt":

                    window.location.href = "/Products/Details/74"

                    break;


                case "Paradise TShirt":

                    window.location.href = "/Products/Details/75"

                    break;


                case "White TShirt Female":

                    window.location.href = "/Products/Details/76"

                    break;


                case "La casa De papel TShirt":

                    window.location.href = "/Products/Details/77"

                    break;


                case "Broken Hart TShirt":

                    window.location.href = "/Products/Details/78"

                    break;


                case "Pice Out TShirt":

                    window.location.href = "/Products/Details/79"

                    break;


                case "Not Today TShirt Female":

                    window.location.href = "/Products/Details/80"

                    break;


                case "Edgar Allan TShirt":

                    window.location.href = "/Products/Details/81"

                    break;


                case "Nike Colorway 3":

                    window.location.href = "/Products/Details/82"

                    break;


                default:

                    alert("Your Search Dosent Match")

                    break;














            }








        }




    </script>

</head>


<body>



    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3     ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">


                    <h4 style="padding-top:3px ; font-weight:unset"> <i class="bi bi-shop"></i> FrontStore</h4>

                    <ul class="navbar-nav flex-grow-1" style="  padding-left:9px ">


                        <li class="nav-item active">
                            <a href="/HomePage/Index" class="nav-link text-dark"><i class="bi bi-house-door"></i> Home</a>
                        </li>





                        <li class="nav-item">
                            <a href="/ORder/Index" class="nav-link text-dark"><i class="bi bi-cart3"></i> Cart</a>
                        </li>





                        <li class="nav-item">
                            <a href="/Contact_Infos" class="nav-link text-dark"><i class="bi bi-person"></i>Contact Information</a>
                        </li>




                        <li class="nav-item">


                        </li>




                    </ul>



                    <ul class="nav navbar-nav navbar-right">


                        <li>



                            <div class="input-group" style="width:300px ">


                                <input type="text" autocomplete="on" class="form-control" onKeyUp="showResults(this.value)" id="txtProduct" placeholder="Search for a Product" style="width:40px" />





                                <button class="btn btn-secondary" value="Secrch" style="background-color: #2a6afe" onclick="Search()">Search</button>








                            </div>





                        </li>

                    </ul>


                </div>


















            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Front_STore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
