
@{
    ViewBag.Title = "NBA_Jersys";

}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/Styles/StyleSheet2.css" rel="stylesheet" />
 

<link href="~/Styles/StyleSheet7.css" rel="stylesheet" />

<div class="container">


    <div class="row">


        <div class="col-lg-5">


            <h4 style="margin-top:15px">Show Result (9)</h4>


        </div>


        <div class="col-lg-5" style="padding-top:14px ; padding-left:25%">





            <div class="dropdown">
                <button type="button" style="   background-color:#2a6afe" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    View as
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/NBA_Jersys/Page1#">Default</a>
                    <a class="dropdown-item" href="/NBA_Jersys/Jersy_Trending">Trending</a>

                </div>
            </div>



        </div>



    </div>


</div>







<div class="container" style="margin-top:40px">


    <div class="row">



        <div class="col-lg-10">

            <table class="table table-bordered">
                <tr>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/1" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js1.jpg" .jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px" />

                            </a>

                            <p class="card-body" style=" font-style:normal ; font-size:20px ; text-align:center ; margin-top:25px">

                                Boston Celtics
                                <br />

                                100$

                            </p>

                        </div>

                    </td>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/2" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js2.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px" />

                            </a>

                            <p class="card-body" style=" font-style: normal; font-size: 20px; text-align: center;margin-top: 25px">

                                Brooklyn Nets
                                <br />

                                200$

                            </p>

                        </div>

                    </td>
                    <td>


                        <div class="r1">
                            <a href="/Products/Details/3" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js3.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px" />

                            </a>

                            <p class="card-body" style="  font-style: normal; font-size: 20px; text-align: center; margin-top: 25px">

                                New York Knicks
                                <br />

                                200$

                            </p>

                        </div>

                    </td>

                </tr>

                <tr>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/4" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js4.jpg" .jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px " />

                            </a>

                            <p class="card-body" style=" margin-top: 25px ;font-style:normal; font-size: 20px; text-align: center">
                                Philadelphia 76ers
                                <br />

                                200$

                            </p>

                        </div>

                    </td>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/5" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js5.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px" />

                            </a>

                            <p class="card-body" style="  margin-top: 25px; font-style:normal; font-size: 20px; text-align: center">

                                Toronto Raptors
                                <br />

                                100$

                            </p>

                        </div>

                    </td>
                    <td>


                        <div class="r1">
                            <a href="/Products/Details/6" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js6.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px" />

                            </a>

                            <p class="card-body" style="margin-top: 25px ; font-style: normal; font-size: 20px; text-align: center">

                                Chicago Bulls
                                <br />

                                100$

                            </p>

                        </div>

                    </td>

                </tr>



                <tr>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/7" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js7.jpg" .jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px" />

                            </a>

                            <p class="card-body" style="margin-top: 25px; font-style: normal; font-size: 20px; text-align: center">

                                Cleveland Cavaliers
                                <br />

                                150$

                            </p>

                        </div>

                    </td>

                    <td>


                        <div class="r1">
                            <a href="/Products/Details/8" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js8.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px" />

                            </a>

                            <p class="card-body" style="margin-top: 25px; font-style: normal; font-size: 20px; text-align: center">

                                Detroit Pistons

                                <br />

                                150$

                            </p>

                        </div>

                    </td>
                    <td>


                        <div class="r1">
                            <a href="/Products/Details/9" style="text-decoration: none;border-color:black; font-style: normal; font-display: unset">
                                <img src="~/Images/NBAJersys/js9.jpg" class="card-img" style="background-color: black; border-color: black; height: 70%; width: 290px" />

                            </a>

                            <p class="card-body" style=" margin-top: 25px; font-style: normal; font-size: 20px; text-align: center">
                                Indiana Pacers
                                <br />

                                100$

                            </p>

                        </div>

                    </td>

                </tr>



            </table>


        </div>


        <div class="col-md-2">


            <table class="table table-bordered" style=" font-size:16px ; text-align:center ; width:100% ; margin-top:10px ">

                <tr>

                    <td style="  background-color: #2a6afe; color: white ">

                        Products Catagories
                    </td>
                </tr>
                    
                <tr>

                    <td>
                        <a href="/NBA_Jersys/Page1#" style="text-decoration:none">Nba Jersy</a>
                
                    </td>
                </tr>


                <tr>

                    <td>
                        <a href="/SHIRTS/Page1" style="text-decoration:none">T Shirts</a>
                
                    </td>
                </tr>

                <tr>

                    <td>

                        <a href="/SHOES/Page1#" style="text-decoration:none">Shoes</a>

              
                    </td>
                </tr>


 



            </table>




            <table class="table table-bordered" style="font-size: 16px; text-align: center; width: 100%;   ">

                <tr>

                    <td style="background-color: #2a6afe; color: white">

                        Shoes Catagorie View By Price
                    </td>
                </tr>

                <tr>

                    <td>

                        <a href="/NBA_Jersys/Jersy100" style="text-decoration:none">100$</a>
                    </td>
                </tr>




                <tr>

                    <td>

                        <a href="/NBA_Jersys/Jersy150" style="text-decoration:none">150$</a>
                    </td>
                </tr>



                <tr>

                    <td>

                        <a href="/NBA_Jersys/Jersy200" style="text-decoration:none">200$</a>
                    </td>
                </tr>


            </table>






            <table class="table table-bordered" style="font-size: 16px; text-align: center; width: 100%;   ">

                <tr>

                    <td style="background-color: #2a6afe; color: white">

                        Check Out Also
                    </td>
                </tr>

                <tr>
                    <td>

                        <div class="card-group" style="font-family:'Times New Roman'">

                            <img  id="myimage" src="~/Images/Shoes/ssh2.jpg" class="card-img-top" style=" border:solid; align-items:center; margin-left:25px;  height: 150px ; width:120px" alt="Avatar" />

                            <p class="card-header" style="width: 90%; border: solid; margin-top: 10px; font-weight: bolder; margin-left: 10px ; font-size:15px"> Nike Air Yellow</p>



                            <a class="btn btn-secondary" href="/Products/Details/29" style="width: 90%; margin-top: 5px; margin-left: 10px; background-color: #2a6afe">View</a>


                        </div>
                    </td>

                </tr>


                <tr>
                    <td>

                        <div class="card-group" style="font-family:'Times New Roman'">

                            <img id="myimage1" src="~/Images/Shirts/ts8.jpg" class="card-img-top" style=" border:solid; align-items:center; margin-left:25px;  height: 150px ; width:120px" alt="Avatar" />

                            <p class="card-header" style="width: 90%; border: solid; margin-top: 10px; font-weight: bolder; margin-left: 10px ; font-size:15px">Red Strips TShirt</p>



                            <a class="btn btn-secondary" href="/Products/Details/62" style="width: 90%; margin-top: 5px; margin-left: 10px; background-color: #2a6afe">View</a>


                        </div>
                    </td>

                </tr>

                <tr>

                    <td>

                        <div class="card-group" style="font-family:'Times New Roman'">

                            <img  id="myimage2" src="~/Images/Shirts/ts6.jpg" class="card-img-top" style=" border:solid; align-items:center; margin-left:25px;  height: 150px ; width:120px" alt="Avatar" />

                            <p class="card-header" style="width: 90%; border: solid; margin-top: 10px; font-weight: bolder; margin-left: 10px ; font-size:15px">Black TShirt</p>



                            <a class="btn btn-secondary" href="/Products/Details/60" style="width: 90%; margin-top: 5px; margin-left: 10px; background-color: #2a6afe">View</a>


                        </div>
                    </td>
                </tr>





            </table>









        </div>



    </div>


</div>



<ul class="pagination" style="align-content:center ; padding-left:47% ; padding-top:59px">


    <li class="page-item active">
        <a class="page-link" href="Page1.cshtml">1</a>
    </li>

    <li class="page-item ">
        <a class="page-link" href="Page2">2</a>
    </li>

    <li class="page-item">
        <a class="page-link" href="Page3">3</a>
    </li>

    <li class="page-item">
        <a class="page-link" href="Page2">Next</a>
    </li>
</ul>
